/* ปุ่ม */
.button {
  /* สไตล์ปุ่มเดิม */
  background: none;
  border: none;
  color: var(--primary-color);
  transition: all 0.3s ease;
  outline: none; /* เพิ่มเพื่อลบเส้นขอบเมื่อได้รับโฟกัส */
}

.button:active {
  /* สไตล์เมื่อคลิก */
  background-color: #BDBDBD3D;
}
