/*button.css*/
/* ปุ่ม */
.button {
  /* สไตล์ปุ่มเดิม */
  background: none;
  border: none;
  color: var(--primary-color);
  transition: all 0.3s ease;
  outline: none; /* เพิ่มเพื่อลบเส้นขอบเมื่อได้รับโฟกัส */
}

.button:active {
  /* สไตล์เมื่อคลิก */
  background-color: #BDBDBD3D;
}

.b-button {
  padding: 10px;
  background: none;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.b-button:hover {
  background-color: #0056b3;
}
