/* index.css */

/* กำหนดค่าเริ่มต้น */
html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; /* เปลี่ยนฟอนต์เป็น Roboto */
  font-size: 16px;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: #333;
  background-color: #fff; /* เปลี่ยนสีพื้นหลัง */
}

/* สีที่ใช้ */
:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --white: #fff;
  --black: #333;
  --gray: #f2f2f2;
}

/* ส่วนหัว */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  padding: 2rem;
}

.h1 {
  font-size: 2rem;
  color: var(--primary-color);
}

/* -----
SVG Search Icons - svgicons.sparkk.fr
----- */
.svg-h-icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--primary-color);
  
}

.svg-h-icon path,
.svg-h-icon polygon,
.svg-h-icon rect {
  fill: #4691f6;
}

.svg-h-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

/* เนื้อหา */
main {
  padding: 0.8rem;
}

/* โพสต์ */
article {
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  margin-bottom: 2rem;
}

/* ตัวอย่างการใช้ Flexbox สำหรับจัดวางเนื้อหา */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* เพิ่มสไตล์สำหรับหน้าจอขนาดเล็ก */
@media (max-width: 768px) {
  /* ปรับขนาดฟอนต์และระยะห่าง */
  body {
    font-size: 14px;
  }

  header, main, footer {
    padding: 1rem;
  }
}
